<div class="row animated fadeIn">
  <div class="col-6">
    <app-dona titulo="Ventas"
              [labels]="labels2"
              [data]="data2"></app-dona>
  </div>
  <div class="col-6">
    <app-dona titulo="Compras"
              [labels]="labels1"
              [data]="data1"></app-dona>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col-6">
    <app-dona titulo="Retiros"></app-dona>
  </div>
  <div class="col-6">
    <app-dona titulo="Transferencias"></app-dona>
  </div>
</div>
